<h1>Composant Home</h1>
<button (click)="display()" class="btn btn-primary">Cliquer ici</button>

<img [src]="logo"/>
<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
<span class="sr-only"Loading...></span>
{{nom}}

<h2 align="center">Liste des étudiants</h2>
<ul> <li *ngFor="let etudiant of etudiants">{{etudiant | uppercase}} </li></ul>

<table class="table table-striped" [hidden]="displayed">
  <tr>
    <th>Id User</th>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr *ngFor="let post of posts">
    <th>{{post.userId}}</th>
    <th>{{post.id}}</th>
    <th>{{post.title}}</th>
    <th>{{post.body}}</th>
  </tr>
</table>
